@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,600;1,500&family=Fraunces:wght@100;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
}

#container1 {
    font-family: "Barlow";
    font-weight: 600;
    font-size: 18px;
    height: 750px;
    background-image: url(images/image-header-copy.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  
}

.logo {
    margin-right: auto;
    margin-left: -30px;
}

li, a, button {
    color: edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;
}

.navigations, li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

.navigations li a {
    transition: all 0.3s ease 0s;
    color: white;
}

.navigations, li, a:hover {
    color: black;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Barlow";
    color: black;
    font-weight: bolder;
}

button:hover {
     color: blue;
}

#creative {
    /*margin: 20px 400px; */
    margin-top: 70px;  
    margin-left: 450px;
    display: inline-block;
    color: white;
    font-family: "Fraunces";
    font-weight: 800;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

#arrow {
    margin-top: 160px;
    /*margin-left: 650px; */
    align-items: center;
    justify-content: center;
    object-position: center;
    text-align: center;
}

#container2 {
    background-color: blue;
    width: 100%;
    margin-top: -6px;
}


#part1 {
    color: black;
    text-align: center;
    justify-content: space-around;
    padding-top: 250px;
    background-color: white;
    font-family: "Barlow";
    font-weight: lighter;
    font-size: 18px;
    max-width: 50%;
    height: 600px;
}

h3 {
    margin-bottom: 20px;
    font-family: "Fraunces";
    font-weight: 800;
    text-align: left;
    margin-left: 125px;
}

#part1 p {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-weight: lighter;
    
}

#learn a {
    margin-left: -325px;
    text-decoration: none;
    font-family: "Fraunces";
    font-weight: bold;
    font-size: 15px;
    color: black;
    border-bottom: 3px solid yellow;
    box-shadow: 0px 2px 10px yellow;
}

#learn a:hover {
    color: #2d8653;
    border-bottom: 1px solid #000099;
}

#part2 img{
    width: 50%;
    height: 600px;
    float: right;
    margin-top: -600px;
}

#container3 {
    width: 100%;
}

#part3 img {
    width: 50%;
    height: 600px;
}

#part4 {
    color: black;
    float: right;
    text-align: center;
    justify-content: space-around;
    padding-top: 250px;
    background-color: white;
    font-family: "Barlow";
    font-weight: lighter;
    font-size: 18px;
    width: 50%;
    height: 600px;
    margin-top: -604px;
    
}

#part4 h3 {
    margin-left: 175px;
    text-align: left;
}

#part4 p {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-weight: lighter;
}


#container4 {
    width: 100%;
}


#part5 img{
    width: 50%;
    float: left;
    margin-top: -4px;
    height: 600px;
}

#part5 {
    position: relative;
}

#part5 .text {
    position: absolute;
    margin-top: 400px;
    margin-left: 250px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

#part5 .text1 {
    position: absolute;
    display: flex;
    margin-left: 185px;
    margin-top: 450px;
    text-align: center;
    justify-content: space-between;
    line-height: 20px;
    font-family: "Barlow";
    font-weight: 500;
}


#part6 img {
    width: 50%;
    float: right;
    margin-top: -4px;
    height: 600px;
}

#part6 {
    position: relative;
}


#part6 .secondtext {
    position: absolute;
    margin-top: 400px;
    margin-left: 950px;
    font-size: 18px;
    font-weight: 600;
}

#part6 .secondtext1 {
    position: absolute;
    display: flex;
    margin-left: 875px;
    margin-top: 450px;
    text-align: center;
    justify-content: space-between;
    line-height: 20px;
    font-family: "Barlow";
    font-weight: 500;
}

#container5 {
    width: 100%;
    background-color: white;
    padding-top: 500px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

h4 {
    font-family: "Fraunces";
    letter-spacing: 5px;
    font-weight: lighter;
    margin-top: 225px;
    margin-left: 450px;
}

#Headbody {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.profile{
    border-radius: 100px;
    margin-bottom: 20px;
    margin-left: 70px;
}

.bodi {
    text-align: center;
    line-height: 25px;
}

.title {
    text-align: center;
    margin-top: 40px;
}

.title h5 {
    font-weight: bolder;
    font-size: 18px;
}

.title h6 {
    font-size: 12px;
    font-weight: 500;
    font-family: "Barlow";
}

.container6 {
    width: 100%;
}

.filler1 {
    width: 25%;
    margin-left: 0;
}

.filler2 {
    width: 25%;
    margin-left: -4px;
}

.filler3 {
    width: 25%;
    margin-left: -4px;
    margin-right: -10px;
}

.filler4 {
    width: 25%;
    margin-left: 6px;
}

.container7 {
    background-color: hsl(168, 34%, 41%);
    color: hsl(168, 34%, 41%);
    margin-top: -5px;
    padding: 80px;
    text-align: center;
    line-height: 100px;
}

.social {
    word-spacing: 30px;
}

.nav li a {
    font-family: "Barlow";
    color:hsl(167, 40%, 24%);
    font-weight: bolder;
}

#log {
    font-family: "Barlow";
    color: black;
    font-size: 25px;
    font-weight: bolder;
    color: hsl(167, 40%, 24%);
} 